.gallery-square {
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(131, 109, 109, 0.55);
    border-radius: 5px;
    background-size: cover;
    background-position: top center;
    transition: opacity 0.3s ease-in-out;
    width: calc((100% / 6) - 12px); /* Adjusted to account for margins */
    margin: 5px;
    box-sizing: border-box;
    padding: 0 0;
}

.gallery-square .gallery-card::before {
    opacity: 0;
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background: inherit;
    z-index: 2;
    image-rendering: pixelated;
    transition: opacity 0.3s ease-in-out;
}

.gallery-square.nsfw .gallery-card::before {
    filter: blur(30px) contrast(200%) saturate(50%) brightness(80%) drop-shadow(0 0 10px black);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.gallery-square.nsfw {
    border: 1px solid red;
}

.gallery-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    z-index: 3;
    position: absolute;
    width: 100%;
    padding: 5px 10px;
    background: rgba(0,0,0,0.35)
}

.gallery-text {
    font-size: 0.875rem;
    margin-bottom: 1rem;
    z-index: 3;
}
.nsfw_label {
    visibility: hidden;
    font-size: 13px;
    padding: 3px 5px;
}
.gallery-square.nsfw .nsfw_label {
    visibility: visible !important;
}
.gallery-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    z-index: 3;
}
